<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <p>ejs 파일로 만든 html</p>
    <img src="/static/img/cat.jpg" />
    
    <% for( let i =0; i< data.length; i++ ) { %>
      <div>안녕<%=data[i]%></div>
    <% } %>

    <div style="color: red"><%="<span style='color: blue'>안녕</span>"%> 하세요</div>
    <div style="color: red"><%-"<span style='color: blue'>안녕</span>"%> 하세요</div>


    <%-include("test.ejs")%> <!-- 상대 경로로 불러와야 한다 ejs 파일 끼리는 서로 불러올 수 있음-->
    <script>

    </script>
  </body>
</html>
